@{
    ViewData["Title"] = "Página principal";
    int contador = 0, limite = 3;
    string ancho, margin;
    ancho = "width: 95%"; margin = "0 auto";
}

<div class="text-center">
    <h1 class="titulo">MINIJUEGOS</h1>
    <p class="mensajeindex">¿Estás aburrido y no sabés qué hacer? ¡Acá tenés juegos cortos para divertirte!
    <form action='@Url.Action("BuscarJuego", "Home")'class="d-flex formbuscador">
        <input name="busqueda" class="form-control me-2" type="search" placeholder="Buscar juego" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
        @for (int i = 0; i < ViewBag.listaJuegos.Count/3; i++)
        {
        <div class="container text-center">
            <div class="row align-items-start">
                    @for (; contador < limite; contador++)
                    {
                    <div class="col">
                        <div class="card">
                                @if (ViewBag.listaJuegos[contador].Id != 1)
                                {if (ViewBag.listaJuegos[contador].Id == 2) {margin = "margin-left:3%;";
                                    } else if (ViewBag.listaJuegos[contador].Id == 3) {margin = "margin-left: 18%"; ancho = "width: 80%";}
                                    else{margin = "margin-left: 12%;"; ancho = "width: 80%";}}
                                else
                                {ancho = "width: 95%"; margin = "0 auto";}
                                
                            <img style="@ancho; @margin;" src="@ViewBag.listaJuegos[contador].Imagen" class="imagen-card"
                                alt="@ViewBag.listaJuegos[contador].Nombre">
                            <div class="card-body">
                                @if (ViewBag.listaJuegos[contador].Id == 2) {<h5 class="card-title">¿@ViewBag.listaJuegos[contador].Nombre</h5>}
                                else {<h5 class="card-title">@ViewBag.listaJuegos[contador].Nombre</h5>}
                                <p class="card-text">@ViewBag.listaJuegos[contador].Descripcion</p>
                                <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                                    <input type="hidden" name="juego" value=@(ViewBag.listaJuegos[contador].Id)>
                                    <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                                </form>
                            </div>
                        </div>
                    </div>
                    }
                    @{
                        limite += 3;
                    }
            </div>
        </div> 
        } 
</div>